:root {
  --font-family-primary: "Poppins", sans-serif;
  --primary-color: #007583;
}

body {
  font-family: var(--font-family-primary);
  background: #f2f2f8;
}
* {
  padding: 0px;
  margin: 0;
  box-sizing: border-box;
}
